{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-3 card">
            <div class="card-body">
                <h4 class="card-title">
                    Work time
                </h4>
                <p class="card-text">
                    You can track your work time here.
                </p>
                <a class="btn btn-info" href="{{ url('work.index') }}">Start</a>
            </div>
        </div>
        <div class="col-3 card">
            <div class="card-body">
                <h4 class="card-title">
                    Minecraft craft calculator
                </h4>
                <p class="card-text">
                    You can calculate minecraft crafts here.
                </p>
                <a class="btn btn-info" href="{{ url('minecraft.item.getAll') }}">Start</a>
            </div>
        </div>
    </div>
{% endblock %}